@font-face {
  font-family: "OpenSans Bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "OpenSans Regular", sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;

  background-color: rgba(0, 0, 0, 0.6);
}

.close {
  display: flex;
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.popup-container {
  position: relative;

  margin: auto;
  padding: 50px 30px;
  background-color: #ffffff;
}



.feedback-row:nth-child(n+2) {
  margin-top: 30px;
}

.feedback-row > div {
  display: flex;
  gap: 30px;
}

.feedback-hint {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.feedback-field {
  width: 100%;
  border: none;
  padding: 18px 18px 18px 0;
  /* padding: 18px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  outline-color: #b59f5b;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
  background-image: url("/svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 13px center;
}

.feedback-label input[type=radio] {
  display: none;
}

 .feedback-radio-hint {
  display: inline-block;
	position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}  



.feedback-radio-hint::before {
  content: "";
	display: inline-block;
	width: 20px;
  height: 20px;
	position: absolute;
  top: 0;
	left: 0;
  z-index: 9999;
	background: url("/svg/form-empty-circle-1.svg") 0 0 no-repeat;
} 


.feedback-radio-hint input[type=radio]:checked + label:before {
	background: url("/svg/form-circle.1.svg") 0 0 no-repeat;
}

/* .form_radio input[type=radio]:checked + label:before {
	background: url(/svg/form-circle.1.svg) 0 0 no-repeat;
} */

.feedback-radio-hint:hover::before {
  filter: brightness(120%);
}

/* .feedback-radio-hint input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
} */


/* .feedback-radio-hint::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;

  background-image: url("./svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
} */

/* .feedback-radio:checked ~ .feedback-radio-hint::before {
  background-image: url("/svg/form-circle.svg")
} */




.feedback-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 132px;
  max-height: 200px;
  border: none;
  padding-left: 18px 18px 18px 0;
  /* padding: 18px; */
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  outline-color: #b59f5b;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
  resize: none;
}

.feedback-button {
  width: 100%;
  height: 48px;
  border: 0;

  background-color: #b59f5b;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  cursor: pointer;
}

.feedback-button:hover {
  background-color: #756535;
}

/* .feedback-close {
  position: absolute;
  top: -25px;
  right: 0;

  border: none;
  width: 19px;
  height: 19px;

  background-color: transparent;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px;
  text-indent: -9999px;
} */

._hidden {
  /* display: block; */
  display: none;
}


.header {
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  /* min-width: 1200px; */
  /* height: 450px; */
  /* z-index: -1; */
}

.header::after {
  content:"";
  position: absolute;
  background-color: black;
  opacity: 0.6;
  /* z-index: -2; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container-header {
  position: relative;
  z-index: 1;
}

.decoration {
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}


.top-menu {
  display: flex;
  padding-top: 28px;
  /* width: 1200px; */
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-between;
  margin-bottom: 125px;
  align-items: center;
}

.logo {
  width: 179px;
  height: 41px;
}

.logo-link-mobile {
  display: none;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: inline;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}


.menu-item {
  vertical-align: top;
  list-style-type: none;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item:nth-child(n + 2) {
  margin-left: 35px;
}

.item {
  color: white;
  text-transform: uppercase;
  font-family: OpenSans Regular;
  font-size: 13px;
}


h1 {
  margin: 0;
}

.heading {
  width: 730px;
  text-align: center;
  color:white;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 75px;
  margin: 0 auto;
  /* padding-left: 245px; */
  padding-bottom: 146px;
}

.content {
  /* display: flex;
  flex-wrap: wrap;
  /* min-width: 1200px; */
  /* max-width: 1200px; */
  /* margin: auto; */
  /* padding-bottom: 64px; */
  /* padding-top: 65px; */ 
}

.trend {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1660px;

  /* min-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
}

.title-trend {
  width: 100%;
  margin-top: 64px;
  /* margin-bottom: 25px; */
  font-size: 20px;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.title-trend::after {
  content:"";
  display: block;
  /* position: absolute; */
  height: 3px;
  width: 67px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 28px;
}

.trends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.trend-card {
  position: relative;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  width: calc((100% - 12px) / 4);
  overflow: hidden;
}

article  {
  display: block;
}

.trend-card::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trend-img {
  overflow: hidden;
}

.picture {
  display: block;
  min-width: 100%;
  object-fit: cover;
}


.trend-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 16px 22px;
  padding: 36px 30px;
  border: 3px solid #b59f5b;
}


.trend-tags-item {
  display: inline-block;
  margin-right: 20px;
}

.trend-tags-link {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
}

.trend-tags-link:hover {
  text-decoration: underline;
  color: #b59f5b;
}

li {
  list-style-type: none;
}

.page-link {
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.page-link:hover {
  color: white;
}

.home-page {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* min-width: 1200px; */
}

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 64px;
  padding-top: 65px;
}


.main {
   width: 778px;
  margin-right: 35px;
}



.main {
  display: block;
}

.card {
margin-top: 60px;
}

.card-picture {
  /*
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  */
  flex: 0 0 380px;
}

.card-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 30px; */
}

/* .top-links {
  width: 125px;
  padding-left: 0;
  margin-top: -5px;
} */

.link {
  display: inline-block;
  margin-right: 20px;
}

.category {
  color: #b59f5b;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  font-size: 14px;
  }

  .category:hover {
    text-decoration: underline;
    color: #b59f5b;
  }


.section-title {
  font-size: 20px;
  color: #000000;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 34px;
}

.title-link {
  text-decoration: none;
  color: black;
}

.title-link:hover {
  color: #b59f5b;
}

.information-about {
  margin-bottom: 50px;
}

.date {
  display: inline;
  margin-right: 15px;
  font-size: 12px;
  font-family: OpenSans Regular;
  color: #888888;
  text-transform: capitalize;
}

.autor {
  font-size: 12px;
  font-family: OpenSans Bold;
  color: black;
}

.paragraph {
  font-family: OpenSans Regular;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-top: 0;
}


.paragraph:nth-child(n + 2) {
  margin-bottom: 16px;
}

.sidebar {
  display: block;
  width: 272px;
  /* padding-right: 15px; */
  /* padding-top: 64px; */
}

.new-posts {
  position: relative;
  width: 272px;
  height: 64px;
}

.fresh-posts {
  width: 272px;
  height: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

.fresh-posts-img {
  min-width: 70px;
  min-height: 70px;
  margin-right: 17px;
}

.new_posts_title {
margin-top: -5px;
text-align: center;
font-size: 14px;
font-family: OpenSans Bold;
text-transform: uppercase;
color: black;
}

 
.new_posts_title::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 66px;
  bottom: 35px;
  background:  #b59f5b;
  margin: 0px 100px 0px 100px; 
  
}


.fresh-posts-title {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: flex-start;
}

.news-date {
  font-size: 12px;
  font-family: OpenSans Regular;
  color: black;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2px;
}

.fresh-news-title {
  font-size: 14px;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  color: black;
  line-height: 16px;
  margin: 0;
}



.news-link {
text-decoration: none;
color: black;
}

.news-link:hover {
  color: #b59f5b;
}

.search {
  width: 272px;
  display: flex;
  margin-top: 60px;
  box-sizing: border-box;
}

/* .search:focus {
  outline: #f4f7f6;
} */

.text-input {
  width: 272px;
  height: 48px;
  border: 0;
  padding-left: 20px;
  background: #f4f7f6;
}

.text-input:focus {
  outline-color: #b59f5b;
 }

.placeholder {
  font-size: 13px;
  font-family: OpenSans Regular;
  color: #a2a4a3;
}


.button-search {
  width: 68px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px;
  padding: 0;
}

.button-search:hover {
  transform: scale(1.08);
}


.mailing-list {
  position: relative;
  margin-top: 67px;
}


.mailing-list-title {
margin-top: -5px;
text-align: center;
font-size: 14px;
font-family: OpenSans Bold;
text-transform: uppercase;
color: black;
}

.mailing-list-title::after {
  content: "";
  display: block;
  /* position: absolute; */
  height: 2px;
  width: 66px;
  top: 27px;
  background:  #b59f5b;
  /* margin: 0px 100px 0px 100px;  */
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}


.mailing {
  padding-top: 24px;
}

.email-input {
  width: 272px;
  height: 48px;
  display: flex;
  margin-bottom: 17px;
  box-sizing: border-box;
  border: none;
  padding: 0;
  background: #f4f7f6;
  padding-left: 20px;
}

.email-input {
  outline-color: #b59f5b;
}


.join {
  width: 272px;
  height: 48px;
  display: flex;
  box-sizing:border-box;
  border: none;
  background: #b59f5b;
  font-size: 14px;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.join:hover {
  transform: scale(1.03);
}

.popular-tags {
  position: relative;
  margin-top: 64px;
}

.popular-tags-title {
  margin-top: -5px;
  text-align: center;
  font-size: 14px;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  color: black;
}

.popular-tags-title::after {
  content: "";
  display: block;
  /* position: absolute; */
  height: 2px;
  width: 66px;
  top: 27px;
  background:  #b59f5b;
  /* margin: 0px 100px 0px 100px;  */
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 24px;
  padding: 0;
  /* align-items: center; */
  /* justify-content: center; */
}

.tag-link {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  padding: 5px 10px;
}

.tag-link:hover {
  border: solid #b59f5b;
}

.taglist-name {
  margin-right: 5px;
  margin-top: 20px;
}

.popular-themes {
  position: relative;
  margin-top: 64px;
}

.popular-themes-title {
  margin-top: -5px;
  text-align: center;
  font-size: 14px;
  font-family: OpenSans Bold;
  text-transform: uppercase;
  color: black;
}

.popular-themes-title::after {
  content: "";
  display: block;
  /* position: absolute; */
  height: 2px;
  width: 66px;
  top: 27px;
  background:  #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.topics-list {
  list-style-type: none;
  padding-top: 14px;
  padding-left: 0;
}

.topic {
  padding-bottom: 14px;
  border-bottom: 1px solid#eeeeee;
}


.topic-link {
  display: flex;
  flex-wrap: wrap;
  font-family: "OpenSans Bold";
  font-size: 14px;
  color: #0f0d0e;
  text-transform: none;
  margin-top: 18px;
}

.topic-link:hover {
  color: #b59f5b;
}

.index {
  color: #b59f5b;
  font-family: "OpenSans Bold";
  font-size: 12px;
  vertical-align: super;
  margin-left: 2px;
}

.products {
  /* margin-top: 64px; */
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.title-products {
    width: 100%;
    margin-top: 0;
    /* margin-bottom: 25px; */
    font-size: 20px;
    font-family: OpenSans Bold;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
  }
  
  .title-products::after {
    content:"";
    display: block;
    /* position: absolute; */
    height: 3px;
    width: 67px;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 28px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-content {
    position: relative;
    flex: 1 0 auto;
    /* flex: initial; */
    padding: 58px 25px 30px;
    border: 3px solid #b59f5b;
    margin-top: -30px;
  }


  .product-name {
    font-size: 20px;
    font-family: OpenSans Bold;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: left;
    line-height: 24px;
  }

  .description-product {
    font-size: 15px;
    font-family: OpenSans Regular;
    text-transform: none;
    color: #0f0d0e;
    text-align: left;
    line-height: 22px;
  }

  .video-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .buy-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
  }
  

  .discount {
    font-size: 14px;
    font-family: OpenSans Bold;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: left;
    line-height: 24px;
    margin-bottom: -10px;
  }

  .price {
    font-size: 20px;
    font-family: OpenSans Bold;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: left;
    line-height: 24px;
  }


  .buy-button {
    height: 48px;
    width: 140px;
    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    font-family: OpenSans Bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .buy-button:hover {
    transform: scale(1.03);
  }

  footer {
  display: block;
  }

  .footer {
  margin-top: 70px;
  padding-bottom: 30px;
  }


  .wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 64px;
  /* padding-top: 65px; */
}


.address {
  display: flex;
  position: relative;
  height: 83px;
  /* width: 1170px; */
  background-color: #f4f7f6;
  margin-top: 0;
  margin-bottom: 70px;
}


.socials-link {
  display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
  margin-right: 30px;
}


.icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}


.social-icons {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}



.copyright {
  display: block;
  margin-top: 70px;
  text-align: center;
}


.copyright-link {
  /* width: 1170px; */
  /* display: block; */
  color: #999999;
  font-family: "OpenSans Bold";
  font-size: 12px;
  /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
}


.a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 


.menu__button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__button:before {
  top: 0;
}

.menu__button:before {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

/* @media (max-width: 767px) {
  .menu-item {
    display: none;
  }
  
} */

@media (min-width: 1200px) {

 .menu__button {
  display: none;
 }

 .card {
  display: flex;
  gap: 30px;
 }
 }



@media (min-width: 641px) and (max-width: 1199px) {
  .nav-bar {
    display: none;
    }

  .logo-link-mobile {
    display: none;
  }

  .heading {
    width: 80%;
    font-size: 40px;
    line-height: 55px;
  }

  .menu__button {
    width: 1em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .trend {
    margin-bottom: 50px;
  }

  .trend-card {
    margin-top: 4px;
    width: calc((100% - 4px) / 2);
  }

  .title-trend,
  .title-products {
    font-size: 18px;
    line-height: 29px;
  }
  
  .card::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 20px;
      background-color: #ededed;
  }

  .home-page {
    padding-top: 0;
  }

  .card-picture img {
    width: 100%;
  }
  

  .wrapper {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
  }

  .card-information {
    margin-left: 0;
  }

  .section-title {
    font-size: 17px;
    color: #000000;
    font-family: OpenSans Bold;
    text-transform: uppercase;
    line-height: 22px;
    margin-top: 17px;
    margin-bottom: 34px;
  }

  .products {
    /* margin-top: 50px; */
    padding-left: 35px;
    padding-right: 50px;
  }

  .products-card {
    width: 48%;
    margin-top: 30px;
  }

  .footer {
    padding-left: 35px;
    padding-right: 35px;
  }

  .wrap {
    padding-left: 35px;
    padding-right: 35px;
  }
  }

  @media (max-width: 640px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
      padding-bottom: 220px;
    }


    .nav-bar {
      display: none;
    }

    .top-menu {
      /* display: flex;
      align-items: center; */
      justify-content: flex-end;
      margin-bottom: 170px;
    }

    .logo-link {
     display: none;
    }

    .logo-link-mobile {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 43px;
    }

    .menu__button {
      width: 1em;
      height: 1em;
      border: none;
      padding: 0;
      background-color: transparent;
      font-size: 25px;
      position: relative;
      text-indent: -9999px;
      cursor: pointer;
  }

    .heading {
      width: 100%;
      font-size: 26px;
      line-height: 36px;
    }

    .trend-card {
      width: 100%;
      margin-bottom: 3px;
    }

    .home-page {
      display: block;
    }

    .main {
      width: 100%;
      margin-right: 0%;
      margin-bottom: 45px;
    }

    .card::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 20px;
      background-color: #ededed;
  }

    .card-picture {
      width: 100%;
    }

    .card-information {
      margin-left: 0;
    }

    .sidebar {
      width: 100%;
    }



    .search {
      width: 100%;
    }

   .email-input {
    width: 100%;
   }

   .join {
    width: 100%;
   }

    .products-card {
      width: 100%;
      margin-top: 25px;
    }
  }

  /* @media (min-width: 768px) and (max-width: 1199px) {


  } */

  